/* Фон модалки */
.popup {
  background: rgba(0, 0, 0, .5);
  font-family: 'Inter', Arial, sans-serif;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  position: fixed;
  z-index: 100;
  justify-content: center;
  align-items: center;
}
