.element__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/button_like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  border: none;
}
