.profile__edit-button {
  width: 24px;
  height: 24px;
  border-radius: 1px;
  border-color: #fff;
  background-color: #000;
  background-image: url(../../../images/button_edit.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 320px) {
  .profile__edit-button  {
    width: 18px;
    height: 18px;
    background-image: url(../../../images/button_edit_small.svg);
  }
}
