.popup__input {
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  width: 358px;
  height: 27px;
}

@media (max-width: 767px) {
  .popup__input {
    width: 238px;
  }
}
