.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  width: 358px;
  height: 27px;
  margin: 28px auto 0;
}

.popup__input:first-of-type {

}

.popup__input:last-of-type {

}

@media (max-width: 767px) {
  .popup__input {
    width: 238px;
  }
}
