.popup__container {
  border-radius: 10px;
  background: #fff;
  width: 430px;
  height: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
}

@media (max-width: 767px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
