.profile {
  max-width: 880px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}

@media (max-width: 980px) {
  .profile {
    width: 90%;
    flex-direction: column;
  }
}

@media (max-width: 540px) {
  .profile {
    min-width: 282px;
    padding-top: 38.25px;
  }
}
