.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 17px;
}

@media (max-width: 980px) {
  .elements {
    width: 90%;
    justify-content: center;
    padding-top: 33px;
  }
}
