.profile__name {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #fff;
  margin: 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media (max-width: 540px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
