.profile__name {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
color: #fff;
margin: 0 0;
}

@media (max-width: 540px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
  }
}
