.profile__job {
font-family: 'Inter';
/* TODO по всему файлу задать безопастный шрифт */
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin: 16px 0 0;
}

@media (max-width: 540px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    /* TODO Нужно убрать все дубли правил в медиа-выражениях. Они должны содержать только изменяющиеся стили. */
    color: #fff;
    margin-top: 7px;
  }
}
