.elements__like {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/button_like.svg);
  background-color: transparent;
  border: none;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.elements__like:hover {
opacity: 0.5;
cursor: pointer;
}

.elements__like:active {
  background-image: url(../../../images/button_like_active.svg);
}
