.popup__close-button {
  position: absolute;
  cursor: pointer;
  right: -37px;
  top: -40px;
  border: none;
  background: none;
  height: 32px;
  width: 32px;
}

.popup__close-button:before {
  position: absolute;
  content: '';
  height: 32px;
  border: 2px solid white;
  top: 0;
  transform: rotate(45deg);

}

.popup__close-button:after {
  position: absolute;
  content: '';
  height: 30px;
  border: 2px solid white;
  top: 0px;
  transform: rotate(-45deg);
}


@media (max-width: 767px) {
  .popup__close-button {
    right: -4px;
  }

  .popup__close-button:before {
    height: 22px;

  }

  .popup__close-button:after {
    height: 22px;
  }
}
