.popup__save-button {
  background: #000;
  border-radius: 2px;
  color: #fff;
  margin-top: 48px;
  height: 50px;
  width: 358px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}

@media (max-width: 767px) {
  .popup__save-button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
  }
}
