.popup__save-button {
  background: #000;
  border-radius: 2px;
  color: #fff;
  margin: 48px auto 0;
  height: 50px;
  width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 37px;
  border: none;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
}

.popup__save-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 767px) {
  .popup__save-button {
    width: 238px;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}
