.footer {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media (max-width: 980px) {
  .footer {
    width: 90%;
  }
}

@media (max-width: 320px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
