.profile__job {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  margin: 10px 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 336px;
}

@media (max-width: 540px) {
  .profile__job {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin-top: 7px;
  }
}
